* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
.grid,
footer {
  max-width: 840px;
  margin: 0 auto;
}

body {
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}

nav {
  background-color: steelblue;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: white;
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}

h1 {
  color: steelblue;
  padding: 5rem;
  border-bottom: 1px solid #000;
}

.grid {
  display: grid;
  align-items: center;
}

main {
  grid-column: 2/3;
  margin: 1rem;
}

main img {
  width: 150px;
  height: auto;
  float: right;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  margin: 0 0 1rem 1rem;
}

p {
  margin: 1rem;
}

aside {
  width: 20rem;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}

aside h2 {
  position: absolute;
  top: 67px;
  left: 150px;
}
aside img {
  width: 200px;
  height: auto;
}
p {
  padding: 0;
}
footer {
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: center;
}
/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 0.1);
  padding: 1rem;
  background-color: #eee;
  color: #000;
}

.indent {
  padding-left: 1rem;
}
